.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* //////////////////////NAVBAR////////////////////// */

.Navbar {
  overflow: hidden;
  padding: 3px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Navbar a {
  text-align: center;
  text-decoration: none;
  margin: 40px;
  padding: 6px;
}

.nav-link:hover, .selected-tab {
  background-color: #D3D3D3;
}

.app-title {
  color: black;
  font-size: 20px;
  font-family: 'Heebo', sans-serif;
}

.tab-title {
  color: black;
  font-size: 18px;
  font-family: 'Heebo', sans-serif;
}

/* ///////////////////HOME/////////////////// */

.Home {
  background-image: url('./images/home-background.jpeg');
  background-size: cover;
  text-align: center;
  min-height: 100vh;
}

.home-greeting {
  border: solid black;
  border-width: 3px;
  display: inline-block;
  vertical-align: middle;
  margin-top: 22%;
  padding: 12px;
  background-color: white;
  opacity: 0.8;
}
